<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test  name="Test">
<parameter name="url" value="https://www.mercadolibre.com.co/"></parameter>
<parameter name="url" value="https://demoqa.com/"></parameter>
<parameter name="url" value="https://demo.guru99.com/selenium/newtours/"></parameter>

<parameter name="platformName" value="Android"></parameter>
<parameter name="deviceName" value="1e9e4752"></parameter>
<parameter name="platformVersion" value="11"></parameter>
<parameter name="noReset" value="true"></parameter>
<parameter name="autoGrantPermissions" value="true"></parameter>

<parameter name="rutaImagenReporte" value="./imagenes/logomercadolibre.png"></parameter>
<parameter name="rutaImagenReportedemo" value="./imagenes/logodemo.png"></parameter>
<parameter name="rutaImagenReporteMercury" value="./imagenes/logomercury.png"></parameter>
<parameter name="output" value="./output/"></parameter>
    <classes>
      <class name="Run.Run"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
